.jumbotron{
    text-align: center;
}

/* .carousel, .carousel-item {
    height: 300px;
}

.img{
    object-fit: cover;
} */

.carousel {
    width: 450px;
    height: 350px;
  }
  
  .carousel-inner {
    height: 100%;
  }
  
  .item {
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
  }

.img{
    background-size: cover;
}